body {
  text-align: left;
}

.pwdnHeader
{
  font-family: 'Segoe UI',Tahoma,Helvetica,Sans-Serif;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  
}

.pwdnFooter
{
  font-family: 'Segoe UI',Tahoma,Helvetica,Sans-Serif;
  text-align: center;
            width: 100%;
            bottom: 0;
            position: fixed;
}

.logo
{
  display: inline-block;
}

.logoText
{
  display: inline-block;  
  vertical-align: middle; 
}

.tag
{
    text-align:center;
    background-color: lightblue;
    border-radius:.25rem;
    padding: .25em .4em;
}
